.bg-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(110%);
}

#bgImage {
    background-image: url(../images/weather.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

#bgBlur{
    background-image: url(../images/weather.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    height:auto;
    width:auto;
}

#testTable{
    background-color: rgb(255, 255, 255);
}

#bottom-navbar>img {
    width: 45px;
    height: 45px;
    margin: 0 auto;
}